.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: auto;
}

.box {
    height: 80px;
    aspect-ratio: 1;
    border: 1px solid;
    text-align: center;
    line-height: 80px;
}